
~$Historical Figures List.xlsx
thumbnail.png
video.mp4
.ipynb_checkpoints/Video Creation-checkpoint.ipynb
.ipynb_checkpoints/Connect to Bloom-checkpoint.ipynb
.ipynb_checkpoints/Video Creation-checkpoint.ipynb
.ipynb_checkpoints/Video Creation-checkpoint.ipynb
.ipynb_checkpoints/Generate Thumbnail Using Stable Diffusion-checkpoint.ipynb
*.log
*.REMOVE_ME
*.txt
*.checkpoint
